* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #993333;
	font-family: 'Oswald', sans-serif;
	font-size:18px;
}
section {
	padding:3em 0;
}
h1 {
	font-family: Georgia,serif;
	font-style: italic;
	font-size: 2.5em;
}
form {
	width:10em;
}
input {
	display:block;
	padding:1em;
}
#splash {
	background:url(http://images.bwbx.io/cms/2012-11-15/mf_pay47__01__630x420.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:75vh;
}
.logo {
	text-decoration: underline;
	font-size: 3em;
}
