body {
	background-color: #993333;
	text-align: center;
}

h1 {
	text-decoration: underline;
	font-family: Impact; 
	font-size: 500%;
}

#slogan {
	font-family: Georgia;
	font-style: italic;
	font-size: 150%;
}

p {
	font-family: Helvetica;
	font-size: 100%;
}

ul {
      list-style-type: none;
}
